// Global variables
// ----------------------------------------------------

// Primary theme setting
@ruten-theme-color: #fc9553;

// Compliment theme setting
@ruten-theme-comliment-color: #49454a;

/**
 * Site-wide fontface setting
 */

@default-background-color: #FFF;

// Helvtica Neue, Roboto: for alphabats and numerics
// Heiti and Noto: for CJK
@default-text-fontface: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
@default-digit-fontface: 'Helvetica Neue', 'Roboto', sans-serif-medium, sans-serif;

// font size base setting
@regular-fontsize: 15px;
@large-fontsize: 25px;
@medium-fontsize: 20px;
@small-fontsize: 12px;

// all purpose font size setting
// for header functions
@menu-function-fontsize: @medium-fontsize;
// for page title
@content-title-fontsize: @large-fontsize;
// for page content
@content-text-fontsize: @regular-fontsize;


@default-font-dark-color: #414446;
@default-font-light-color: #fff;
@default-font-compliment-color: #a2a2a2;

/**
 * UI component color setting
 */

// color settings
@primary-color: darken(@ruten-theme-color, 2%);
@danger-color: #f25f5c;
@success-color: #48cfad;
@info-color: #c2eced;
@secondary-color: #375AA4;
@inverse-color: @ruten-theme-comliment-color;

// for button content
@component-text-fontsize: @regular-fontsize;

@grayscale-start-color: #f2f2f2;
@grayscale-end-color: #fafafa;
@grayscale-background-color: linear-gradient(to bottom, @grayscale-start-color 0%, @grayscale-end-color 8%, #fff 26%, @grayscale-end-color 100%);

// UI component border setting
@component-border-color: #dee1e3;
@component-border-radius: 3px;

// UI component block color setting
@component-background-color: #fff;
@component-backdrop-shadow: box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.09);

// RT icon color setting
@default-icon-color: @default-font-dark-color;

//---
//default UI layout setting
@default-main-horizontal-gutter: 24px;
@default-main-vertical-gutter: 30px;

@default-border-top-color: #f3f3f3;
@default-border-bottom-color: #f2f2f2;

@base-background-color: #FFF;
@header_height: 55px;
@item_name_line_height: 1.3em;
@item_name_maximum_allowed_row: 2;


// Variable - main color
// -----------------------------------------------------
@primaryColor: #f39052;
@errorColor: #ee4f4f;
@successColor: #48cfad;
@confirmColor: #2b913c;
@priceColor: #FF0000;
@alertColor: #FF0000;
@textPrimaryColor: #FF7F50;
@textDefaultColor: #000;
@bidPriceColor: #0097FF;
@defaultGrey: #ddd;


// Variable - decoration color for theme promo and category
// -------------------------------------------------------
@decoLightBlueColor:   #80D7E4;
@decoRedColor:         #f16d7a;
@decoGreenColor:       #8BCEAF;
@decoOrangeColor:      #ff9b6a;
@decoPurpleColor:      #CE6AFF;
@decoBlueColor:        #C1CFF5;
@decoPinkColor:        #FFD9DE;
@decoLightGreenColor:  #C4E2A4;
@decoBrownColor:       #FFD8AC;
@decoWhiteColor:       #FFF;


// Variable - extended color
// ---------------------------------------------
@borderColor: @defaultGrey;
@lightBorderColor: lighten(@defaultGrey, 5%);
@disabledColor: darken(@defaultGrey, 10%);
@subTextColor: darken(@defaultGrey, 30%);
@fillColor: lighten(@defaultGrey, 10%);

@subPriceColor: lighten(desaturate(@confirmColor, 15%), 5%);
@purchaseColor: @errorColor;
@addItemColor: @bidPriceColor;


// Variable - border
// --------------------------------------------------
@defaultBorder: 1px solid @borderColor;
@primaryBorder: 1px solid @primaryColor;
@lightBorder: 1px solid @lightBorderColor;

@mobile_new_sprite_path: "/images/mobile/new/mobile_sprite.png?20151015";

// z-index-level (from low to high)
// --------------------------------------------------
@rt_page_index:         0;
@slider_nav_index:      10;
@side_menu_index:       100;
@footer_index:          100;
@side_header_hd_index:  101;
@bottom_bar_index:      101;
@header_index:          102;
@image_viewer_index:    103;
@overlay_index:         104;
@rt_notification_index: @image_viewer_index;
@rt_confirm_index: @overlay_index;