@import (reference) "../abstracts/variables.less";

@card-border-radius: @component-border-radius;
@card-border-color: @component-border-color;
@card-background-shadow: @component-backdrop-shadow;
@card-background-color: @component-background-color;
@card-title-padding: 30px 35px 10px;
@card-body-padding: 15px 30px 15px;
@card-vertical-spacing: @base-spacing;

@card-title-fontsize: @medium-fontsize;
@card-title-spacing: @small-spacing;
@card-subtitle-fontsize: @regular-fontsize;
@card-subtitle-color: @default-font-compliment-color;


@card-body-fontsize: @regular-fontsize;

.rt-card {
  margin-bottom: @card-vertical-spacing;
  // border: 1px solid @card-border-color;
  border-radius: @card-border-radius;
  box-shadow: @card-background-shadow;
  background-color: @card-background-color;
}

.rt-card-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: @card-title-padding;
  font-size: @card-title-fontsize;
}

.rt-card-subtitle {
  font-size: @card-subtitle-fontsize;
  color: @card-subtitle-color;
}

.rt-card-body {
  padding: @card-body-padding;
  font-size: @card-body-fontsize;
}