@import (reference) "../abstracts/variables.less";

@footer-padding: @base-spacing @base-spacing 100px ;
@footer-text-color: lighten(@default-font-dark-color, 10%);

@footer-logo-width: 56px;
@footer-logo-height: @logo-width / 2;

@footer-link-spacing: 5px;
@footer-link-width: 40px;
@footer-link-height: @footer-link-width * 0.90;
@footer-icon-size: @footer-link-width * 0.5;
@footer-icon-color: @footer-text-color;

.rt-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: @footer-padding;
  color: @footer-text-color;
}

.rt-footer-title {
  flex: 0 0 100%;
  text-align: center;
  padding: 5px 0;
  font-size: @small-fontsize;
}

.rt-footer-subtitle {
  font-size: @small-fontsize;
}

.rt-footer-links {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 5px 0;
  list-style: none;
  justify-content: center;
  font-size: @small-fontsize;

  > li + li {
    padding-left: @footer-link-spacing;

    &:before {
      content: '/';
      padding-right: @footer-link-spacing;
    }
  }
}

.rt-footer-logo {
  .icon-background-generator(RUTEN);
  display: inline-block;
  vertical-align: middle;
  width: @footer-logo-width;
  height: @footer-logo-height;
  background-size: contain;
  background-repeat: no-repeat;
}
