@import (reference) "../abstracts/variables.less";
@import (reference) "../abstracts/functions.less";

@header-height: 55px;
@header-background-color: @ruten-theme-color;
@header-search-component-height: 30px;
@header-default-button-color: @inverse-color;
@header-primary-button-color: @important-color;
@header-secondary-button-color: @secondary-color;
@header-button-text-size: @component-text-fontsize;

@header-form-borde-radius: 15px;
@header-form-text-color: #fff;
@header-form-input-color: @default-font-dark-color;

@header-counter-background: @important-color;

@nav-height: 55px;
@nav-border-color: darken(@grayscale-start-color, 5%);
@nav-item-fontsize: @small-fontsize;
@nav-item-color: @default-font-dark-color;

@white-color: #fff;
@logo-width: 65px;
@logo-height: @logo-width / 2;

@mobile-sprite-path: '/static/images/mobile_sprite.png';

// the componenets included in this layout
@import (reference) "../components/icon.less";

.colored-icon-generator(chevron-left, white-color);

.rt-header {
  display: flex;
  padding: 0 20px;
  height: @header-height;
  align-items: center;
  background-color: @header-background-color;
}

.rt-header-backhistory, .rt-header-brand, .rt-header-form {
  display: flex;
  align-items: center;
  height: 100%;
}

.rt-header-backhistory {
  flex: 0 0 45px;
  justify-content: center;
}

.rt-header-brand {
  flex: 0 0 @logo-width;
  display: flex;
  align-items: center;
}

.rt-logo {
  .icon-background-generator(RUTEN);
  display: inline-block;
  width: @logo-width;
  height: @logo-height;
  background-repeat: no-repeat;
  background-size: @logo-width @logo-height;
}

.rt-header-cart {
  @cart-width: 27px;
  .icon-background-generator(cart, fade(#fff, 70%), @cart-width, @cart-width);
  position: relative;
  width: @cart-width;
  height: @cart-width;
  margin-left: 15px;
  background-position: center;
}

.rt-header-chat {
  @chat-width: 22px;
  .icon-background-generator(chat, fade(#fff, 70%), @chat-width, @chat-width);
  position: relative;
  width: @chat-width;
  height: @chat-width;
  margin-left: 15px;
  background-position: center;
}

.rt-header-counter {
  position: absolute;
  top: -5px;
  right: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  font-size: 10px;
  color: @white-color;
  // border: 3px solid fade(@white-color, 50%);
  background-color: @header-counter-background;
}

.rt-header-form {
  position: relative;
  flex: 1;
  display: flex;
  margin-left: 15px;
  padding: 0 10px;
  justify-content: center;
  // background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.2));
}

.header-search-input-wrap {
  position: relative;
  flex: 1 1 60%;
  height: @header-search-component-height;
}

.header-search-input-mask {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: -1 * @header-search-component-height /2;
  margin-left: 10px;
  margin-right: 10px;
  height: @header-search-component-height;
  background-color: transparent;
  border-radius: @header-form-borde-radius;
}

.header-search-input {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 6px 15px 5px;
  font-size: @header-button-text-size;
  border: 0;
  border-radius: @header-form-borde-radius;
  outline: 0;
  box-shadow: none;
  background-color: fade(#fff, 30%);
  color: @header-form-input-color;

  &::-webkit-input-placeholder {
    color: @header-form-text-color;
  }
}

.header-search-clear {
  position: absolute;
  vertical-align: middle;
  display: inline-block;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  color: @header-form-text-color;
  font-size: @regular-fontsize;
  line-height: @header-search-component-height;
}

.header-search-button {
  flex: 1 0 60px;
  height: @header-search-component-height;
  background-color: @header-default-button-color;
  margin: 0;
  border: 0;
  border-radius: 0;
  border-left: none;
  color: #fff;
  -webkit-appearance: none;
}

.header-full-search-button {
  flex-basis: 20px;
  border-radius: 0 @header-form-borde-radius @header-form-borde-radius 0;
  .icon-background-generator(search, @white-color, 16, 16);
}

.header-category-search-button {
  background-color: @header-secondary-button-color;
  border-radius: 0 4px 4px 0;
}


.rt-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid @nav-border-color;
}

.rt-nav-item {
  flex: 1;
  text-align: center;
  padding-bottom: 4px;
}

.rt-nav-item-link {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-size: @nav-item-fontsize;
  color: @nav-item-color;
}

.rt-nav-icon {
  background-image: url(@mobile-sprite-path);
  background-size: 1000% auto;
  height: 36px;
  width: 40px;
  margin: 0 auto;
}

.rt-nav-icon-category {
  background-position: 8px -170px;
}

.rt-nav-icon-purchase {
  background-position: 8px -131px;
}

.rt-nav-icon-info {
  background-position: 8px -65px;
}

.rt-nav-icon-selling {
  background-position: -515px -139px;
  background-size: 700% auto;
}

.rt-nav-icon-account {
  background-position: 10px -28px;
}
