@import (reference) "../abstracts/variables.less";
@import (reference) "../abstracts/functions.less";
// @import (reference) "../layout/header.less";

@search-header-height: 55px;

@search-header-border-color: @component-border-color;
@search-border-radius: @component-border-radius;

@search-icon-color: @default-icon-color;
@search-input-placeholder-color: @default-font-compliment-color;
@search-input-height: 30px;

.search-mode {
  overflow: hidden;
}

.rt-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  border-radius: @search-border-radius;
  transition: all 500ms cubic-bezier(.64,-0.25,.44,1.22);
  background-color: #fff;
  transform: translate3d(-100%, 0 ,0);

  .header-search-input {
    padding-left: 90px;
    background-color: #fff;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    &::-webkit-input-placeholder {
      color: @search-input-placeholder-color;
    }
  }

  .search-mode & {
    transform: translate3d(0, 0 ,0);
    transition-delay: 400ms;
  }
}

.rt-search-header {
  display: flex;
  align-items: center;
  height: @search-header-height;
  padding: 0 @small-spacing;
  background-color: @search-header-border-color;
}

.rt-search-prev {
  width: 25px;
  height: 25px;
  .icon-background-generator(angle-left, @search-icon-color, 25, 25);
  background-position: center;
}

.rt-search-close {
  width: 25px;
  height: 25px;
  .icon-background-generator(times, @search-icon-color, 16, 16);
  background-position: center;
}

.rt-search-select {
  position: absolute;
  padding-right: 25px;
  left: 15px;
  top: 0;
  border: 0;
  border-right: 1px solid @search-header-border-color;
  border-radius: 0;
  outline: 0;
  height: @search-input-height;
  font-size: 15px;
  appearance: none;
  .icon-background-generator(angle-down, @search-icon-color, 16, 16);
  background-position: 85% center;
}