@import (reference) "abstracts/variables.less";
@import (reference) "abstracts/functions.less";

@subtitle-color: @default-font-compliment-color;

.colored-icon-generator(joy, success-color);
.colored-icon-generator(meh, secondary-color);
.colored-icon-generator(mad, important-color);
.colored-icon-generator(arrow-right, subtitle-color);

.comment {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 10px;
  align-items: flex-start;
  border-bottom: 1px solid @component-border-color;

  &:last-child {
    border-bottom: 0;
  }
}

.comment-icon {
  flex: 0 0 30px;
}

.comment-body {
  // display: flex;
  flex: 1 1 0;
  margin-left: 10px;
  margin-bottom: 10px;
}

.comment-title {
  display: block;
  margin-bottom: 5px;
  font-size: @regular-fontsize;
  color: @default-font-dark-color;
  font-weight: 700;
  letter-spacing: -0.6px;
  line-height: 1.2;
}

.comment-subtitle {
  display: flex;
  flex: 0 0 100%;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: @regular-fontsize;
  color: @default-font-compliment-color;
}

.comment-date {
  font-size: @small-fontsize;
  color: @default-font-compliment-color;
  margin-left: 10px;
}

.comment-body-text {
  padding: 3px 0 5px;
  line-height: 1.4;
  font-size: @small-fontsize;
}