@import (reference) "../abstracts/variables.less";
@import (reference) "../base/reset.less";

html, body {
  height: 100%;
}

body {
  background-color: @default-background-color;
  color: @default-font-dark-color;
}

body, input, button {
  font-family: @default-text-fontface;
}

// anchors
@clickable-link-color: @secondary-color;
a {
  color: @clickable-link-color;
  text-decoration: none;
}

// page content
.rt-section {
  padding: 10px 24px 30px;

  @media (max-device-width: 320px) { //for iphone <=5
    padding: 10px 15px 30px;
  }
}

.rt-section-alt {
  background: @grayscale-background-color;
}

// divider
@hr-spacing: 15px;
hr {
  height: 0;
  border: 0;
  border-top: 1px solid @default-border-top-color;
  margin-bottom: @small-spacing;
}