@import (reference) "../abstracts/variables.less";

@button-background-color: @default-color;
@button-text-dark-color: @default-font-dark-color;
@button-text-light-color: @default-font-light-color;
@button-border-radus: @component-border-radius;
@button-fontsize: @component-text-fontsize;

@button-primary-color: @primary-color;
@button-important-color: @important-color;
@button-success-color: @success-color;
@button-secondary-color: @secondary-color;
@button-inverse-color: @inverse-color;

@button-colors: button-primary-color, button-secondary-color, button-important-color, button-success-color, button-inverse-color;

.ui-button-generator-mixin(@list) {
  @size: length(@list);

  .ui-button(@variable) {
    @color-variable: @@variable;
    @modifier: replace(@variable, '^button-|-color$', '', 'g');

    .rt-button-@{modifier} {
      @backdrop-color: fade(darken(@color-variable, 60%), 15%);
      background: linear-gradient(to bottom, lighten(@color-variable, 5%), darken(@color-variable, 5%));
      color: @button-text-light-color;
      box-shadow: inset 0px -1px @backdrop-color;

      &:active {
        background: contrast(@color-variable, darken(@color-variable, 10%), lighten(@color-variable, 10%), 20%);
      }
    }

    .rt-button-hallow.rt-button-@{modifier} {
      background-color: #fff;
      border-color: @color-variable;
      color: @color-variable;
    }
  }

  ._(@counter) when (@counter <= @size) {
    @color-variable: extract(@list, @counter);
    .ui-button(@color-variable);
    ._(@counter+1);
  }

  ._(1);
}

// Button
.rt-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 20px;
  border-radius: @button-border-radus;
  font-size: @button-fontsize;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  border: 0;
  -webkit-appearance: none;
  box-shadow: inset 0px -1px rgba(0, 0, 0, 0.2);
  // box-shadow: @component-backdrop-shadow;
  background-color: @button-background-color;
  color: contrast(@button-background-color, @button-text-dark-color, @button-text-light-color, 70%);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  outline: none;
  &:active {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3) inset;
    background-color: contrast(@button-background-color, darken(@button-background-color, 10%), lighten(@button-background-color, 10%), 20%);
  }
}

.rt-button-hallow {
  padding: 7px 20px;
  border: 1px solid @button-background-color;
  box-shadow: none;
}

.rt-button-block {
  width: 100%;
  padding: 10px;
}

// Generate buttons of various purposes
.ui-button-generator-mixin(@button-colors);