@import (reference) "../abstracts/variables.less";

@table-component-spacing: @base-spacing;
@table-border-color: lighten(@component-border-color, 10%);
@table-cell-padding: 12px 10px;
@table-cell-fontsize: @small-fontsize;

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: @table-component-spacing;
}

tr {
  border: 0;
}

th,
td {
  padding: @table-cell-padding;
  text-align: left;
  border-top: 0;
  border-bottom: 1px solid @table-border-color;
  font-size: @table-cell-fontsize;

  @media (max-device-width: 320px) { //for iphone <=5
    padding: 12px 8px;
  }
}

tbody> tr:last-child {
  > td, > th {
    border-bottom: 0;
  }
}

th:first-child,
td:first-child {
  padding-left: 5px;
}

th:last-child,
td:last-child {
  padding-right: 5px;
}
