@import (reference) "../abstracts/variables.less";

@table-component-spacing: @base-spacing;
@table-border-color: @component-border-color;
@table-cell-padding: 12px 15px;

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: @table-component-spacing;
}

tr {
  border: 0;
}

th,
td {
  padding: @table-cell-padding;
  text-align: left;
  border-top: 0;
  border-bottom: 1px solid @table-border-color;

  @media (max-device-width: 320px) { //for iphone <=5
    padding: 12px 10px;
  }
}

th {
  letter-spacing: -0.6px;
}

th:first-child,
td:first-child {
  padding-left: 5px;
}

th:last-child,
td:last-child {
  padding-right: 5px;
}
