@import (reference) "../abstracts/variables.less";
@import (reference) "../abstracts/functions.less";

@page-title-spacing: 20px;
@page-subtitle-spacing: @page-title-spacing * 0.75;

.rt-page-title {
  font-size: @content-title-fontsize;
  line-height: 1.5;
  letter-spacing: -0.6px;
  margin-top: @page-title-spacing * 0.75;
  margin-bottom: @page-title-spacing;
}

.rt-page-subtitle {
  font-size: @medium-fontsize;
  margin-top: @page-title-spacing * 0.75;
  margin-bottom: @page-title-spacing;
}

.rt-page-content {
  font-size: @regular-fontsize;
  line-height: 1.7;
}