@import (reference) "../abstracts/variables.less";
@import (reference) "../abstracts/functions.less";

@text-primary-color: @primary-color;
@text-important-color: @important-color;
@text-success-color: @success-color;
@text-secondary-color: @secondary-color;
@text-inverse-color: @inverse-color;
@text-colors: text-primary-color, text-secondary-color, text-important-color, text-success-color, text-inverse-color;

.ui-text-generator-mixin(@list) {
  @size: length(@list);

  .ui-text(@variable) {
    @color-variable: @@variable;
    @modifier: replace(@variable, '^text-|-color$', '', 'g');

    .rt-text-@{modifier} {
      color: @color-variable;
    }
  }

  ._(@counter) when (@counter <= @size) {
    @color-variable: extract(@list, @counter);
    .ui-text(@color-variable);
    ._(@counter+1);
  }

  ._(1);
}

.ui-text-generator-mixin(@text-colors);


.rt-text-price {
  vertical-align: middle;
  line-height: 1;
  font-size: 18px;
  letter-spacing: 0.1px;

  &:before {
    display: inline-block;
    content: '\0024';
    padding-right: 2px;
  }
}


// for demo
.rt-text-price-1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: @primary-color;
}


.rt-text-price-2 {
  font-family: 'Futura';
  color: @important-color;
}


.rt-text-price-3 {
  font-family: 'Avenir Next Condensed';
  color: @secondary-color;
}


.rt-text-price-4 {
  font-family: 'Avenir';
  color: @success-color;
}